<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <link rel="stylesheet" type="text/css" href="feed.css">
</head>

<body>

  <div id="app">

    <div class="noteEntry">
      <textarea v-model="myNote" placeholder="What's happening?"></textarea>
      <button v-on:click="postMyNote">Post</button>
    </div>

    <template v-for="action in actions">
      <div class="note" v-if="action.type == 'Create' && action.object.type == 'Note'">
        <div class="noteAuthor"> {{ action.actor.name }} </div>
        {{ action.object.content }}
      </div>
      <li v-else>
        {{ action.summary }}
      </li>
    </template>

  </div>

  <script type="module" src="feed.js"></script>

</body>
</html>
