<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
</head>

<body>

  <div id="app">

    <input v-model="myNote" placeholder="What's happening?">

    <button v-on:click="postMyNote">Post</button>

    <ul>
      <template v-for="action in actions">
        <li v-if="action.type == 'Create' && action.object.type == 'Note'">
          <b>{{ action.actor.name }}</b>:
          {{ action.object.content }}
        </li>
        <li v-else>
          {{ action.summary }}
        </li>
      </template>
    </ul>

  </div>

  <script type="module" src="feed.js"></script>

</body>
</html>
