version: '3.8'

services:

  graffiti-auth:
    container_name: graffiti-auth
    build: auth
    volumes:
      - ./auth:/mount/auth
    environment:
      AUTH_SECRET: 'secret'
      AUTH_CODE_EXP_TIME: '5' # minutes
    expose:
      - 5000

  nginx:
    image: nginx:1.21.6
    container_name: graffiti-nginx
    volumes:
      - ./config/nginx/base.conf:/etc/nginx/base.conf:ro

  mongo:
    image: mongo:5.0.6
    container_name: graffiti-mongo
    hostname: mongo
    restart: always
    volumes:
      - ./db:/data/db
