aioredis # Database
aiosmtplib # Email

python-multipart  # For parsing multipart form data
aiofiles          # For serving static files and templates
fastapi           # Web framework

uvicorn[standard] # ASGI server
