* {
  margin: 0;
  padding: 0;
}

html {
  background-color:#1DA1F2;
  font-family: "Helvetica Neue", Roboto, Arial;
  font-size: 16px;
  height: 100%;
}

body {
  color:#14171A;
  background-color:#FFFFFF;
  max-width: 30em;
  min-height: 100%;
  margin: 0 auto;
}

.noteEntry {
  width: 100%;
  display: inline-block;
  border: 1px solid #E1E8ED;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  font-size: 1.5em;
  font-family: inherit;
  border: none;
  resize: none;
  min-height: 3em;
  box-sizing: border-box;
  padding: 0.5em;
}

textarea:focus { 
  outline: none !important;
}

button {
  border: none;
  border-radius: 2em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.35em;
  padding-right: 0.35em;
}

.postButton {
  color:#FFFFFF;
  background-color:#1DA1F2;
  border: none;
  font-size: 1.5em;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  margin: 0.1em;
  float: right;
}

.liked {
  background-color: #1DA1F2;
}

.note {
  margin-top: -1px;
  border: 1px solid #E1E8ED;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
}

.noteAuthor {
  font-weight: bold;
  color: #14171A;
  padding-bottom: 0.5em;
}
