<!DOCTYPE html>
<html>

<head>
  <title>Profile Creator</title>
  <link rel="stylesheet" type="text/css" href="../demo1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div id="app">
    <label for="name">Name:</label>
    <input id="name" v-model="actor.name">
    <br>
    <button v-on:click="saveProfile">Save Profile</button>
    <div v-if="success">
      Success!
    </div>
  </div>

  <script type="module" src="profile_creator.js"></script>
</body>
</html>
