<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
  <link rel="stylesheet" type="text/css" href="../demo1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div id="app">

    <div class="note" v-for="note of rankedNotes">
      <div class="noteAuthor"> {{ note.actor.name }} </div>
      {{ note.content }}
      <br>
      <br>
      <span v-if="notes[note.id].actors.has(myActor)">
        <button class="liked" v-on:click="unlike(note.id)">👍</button>
      </span>
      <span v-else>
        <button v-on:click="like(note.id)">👍</button>
      </span>
      {{ note.likes }}
    </div>

  </div>

  <script type="module" src="feed2.js"></script>

</body>
</html>
