{% extends "base.html" %}
{% block contents %}

<div class="blob">

  click the link emailed to

  <div class="usertext" >
    <u>{{email}}</u>
  </div>

  then return to this tab.
</div>

<script>
  // Listen for the signature over a websocket

  const wsURL = new URL('auth_socket', window.location.origin)
  if (wsURL.protocol == 'https:') {
    wsURL.protocol = 'wss:'
  } else {
    wsURL.protocol = 'ws:'
  }
  wsURL.searchParams.set('signature_hash', '{{signature_hash}}')

  let redirecting = false
  function onmessage(event) {
    const data = JSON.parse(event.data)
    if (data.type == 'signature') {
      let redirect = new URL('{{redirect_uri}}')
      redirect.searchParams.set('state', '{{state}}')
      redirect.searchParams.set('code', '{{code_body}}' + '.' + data.signature)
      redirecting = true
      window.location.replace(redirect)
    } else if (data.type == 'error') {
      // Something went wrong, start again.
      const params = new URLSearchParams({
        client_id: '{{client_id}}',
        redirect_uri: '{{redirect_uri}}',
        state: '{{state}}'
      })
      redirecting = true
      window.location.replace(`auth?${params.toString()}`)
    }
  }

  async function reconnect() {
    while (!redirecting) {
      try {
        connect()
        break
      } catch(error) {
        await new Promise(r => setTimeout(r, 100));
      }
    }
  }

  function connect() {
    let ws = new WebSocket(wsURL)
    ws.onmessage = onmessage
    ws.onerror = reconnect
    ws.onclose = reconnect
  }

  connect()
</script>

{% endblock %}
