<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style='font-family: "Courier New"; font-size: 20px;'>
  <div style='max-width: 30em; margin: 0 auto;'>
    <h1 style="text-align: center">
      <a href="http{{url_divider}}{{domain}}" target="_blank" style="color: black">
        graffiti
      </a>
    </h1>
    <p style="color: dimgrey">
      a log in request was issued by an application hosted at
    </p>
    <p style="text-align: center">
      <a href="{{redirect_uri}}" style="color: black">
        {{redirect_uri}}
      </a>
    </p>
    <p style="text-align: center; padding: 2em;">
      <a href="{{login_link}}" style='
         font-size: 1.5em;
         padding: 0.5em;
         border-radius: 0;
         font-family: "Courier New";
         border: 3px solid;
         border-top-color: grey;
         border-left-color: grey;
         border-right-color: black;
         border-bottom-color: black;
         background-color: dimgrey;
         color: white;
         font-weight: bold;
         text-align: center;
         white-space: normal;
         text-decoration: none;'>
        click here to log in
      </a>
    </p>
    <p style="color: lightgrey; display: inline-block">
      or manually enter this link:
      <br><br>
      <a href="{{login_link}}" style="color: lightgrey; overflow-wrap: break-word; word-break: break-word;">
        {{login_link}}
      </a>
    </p>
  </div>
</body>
</html>
