<!DOCTYPE html>
<html>

<head>
  <title>Feed</title>
</head>

<body>

  <div id="app">
    <input v-model="myPost" placeholder="What's happening?">
    <button v-on:click="submitPost">Post</button>
    <ul>
      <li v-for="post in posts.slice().reverse()">
        {{ post }}
      </li>
    </ul>
  </div>

  <script type="module">
    import Vue     from 'https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.esm.browser.js'
    import Theater from 'https://theater.csail.mit.edu/js/theater.js'

    // Initialize data used above
    const app = new Vue({
      el: '#app',

      data: {
        th: new Theater('theater.csail.mit.edu'),
        myPost: "",
        posts: [],
      },

      methods: {

        submitPost: function() {
          const action = {
            actor: "Anonymous",
            type: "Create",
            object: {
              type: "Note",
              content: this.myPost,
            },
          }
          this.th.perform('somecoolstage', action)
          this.myPost = ""
        },

        retrievePost: function(stage, action) {
          if (action.type == "Create") {
            if (action.object.type == "Note") {
              app.posts.push(action.object.content)
            }
          }
        }

      }
    })

    app.th.attend.add('somecoolstage', app.retrievePost)
  </script>
</body>
</html>
