<!DOCTYPE html>
<html>
<head>
<body>

  <!-- Include the main text -->
  <div>
    $text
  </div>

  <!-- Include the comment box -->
  <textarea id="comment_box"></textarea>
  <button onclick="add_child()"> comment </button>
  <div id="output"></div>

  <!-- Comments below -->

<script>
  function ourData() {
    this.http = new XMLHttpRequest();
    this.address = window.location.href;
    if (this.address.startsWith("http://")) {
      this.address = this.address.substring(7);
    } else if (this.address.startsWith("https://")) {
      this.address = this.address.substring(8);
    } else {
      // Bad
    }

    //document.getElementById('output').innerHTML = this.address;
    console.log("ws://" + this.address);
    this.ws = new WebSocket("ws://" + this.address);
  }

  ourData.prototype.put = function(data) {
    this.http.open("POST", "/", false);
    this.http.send(data);
    return this.http.responseText;
  }
</script>
<script>
  function add_child() {
    const od = new ourData();
    const data = document.getElementById('comment_box').value;
    //const child = od.put(data);
    //document.getElementById('output').innerHTML = child;
    //console.log(od.add_child(child));
  }
</script>
</body>
</html>
