<!DOCTYPE html>
<html>
<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<body>

<textarea id="comment_box"></textarea>
<button onclick="add_child()"> comment </button>
<div id="output"></div>

<script>
  function ourData() {
    this.http = new XMLHttpRequest();
    this.address = window.location.pathname;
  }

  ourData.prototype.put = function(data) {
    this.http.open("POST", "/", false);
    this.http.setRequestHeader(
      'Content-type', 'text/ours');
    this.http.send(data);
    return this.http.responseText;
  }

  ourData.prototype.add_child = function(address) {
    this.http.open("POST", this.address, false);
    this.http.send(address);
    return this.http.responseText;
  }
</script>
<script>
  function add_child() {
    const od = new ourData;
    const data = document.getElementById('comment_box').value;
    const child = od.put(data);
    document.getElementById('output').innerHTML = child;
    console.log(od.add_child(child));
  }
</script>
<script>
</script>
</body>
</html>
