{% extends "base.html" %}

{% block prompt %}
We've sent an email to:

<div class="usertext" >
  <u>{{email}}</u>
</div>

To login, either click the link in your email or manually enter the code below:
{% endblock %}

{% block form %}
<form style="display:flex;" onsubmit="logIn(event)" />
  <input type="text" style="text-transform: uppercase;" id="code" autocomplete="off" autofocus/>
  <input type="submit" value="submit code" />
</form>

<script>
  function secretToRedirect(signature_32_secret) {
    let redirect = new URL('{{redirect_uri}}')
    redirect.searchParams.set('state', '{{state}}')
    redirect.searchParams.set('code', '{{code_body}}' + '~' + signature_32_secret + '{{signature_32_known}}')
    window.location.replace(redirect)
  }

  function logIn(e) {
    e.preventDefault()
    secretToRedirect(document.getElementById('code').value)
  }

  // Open a broadcast channel back channel
  const bc = new BroadcastChannel('graffiti_auth')

  // If someone sends a code, send back the login link and close
  bc.onmessage = event => {
    secretToRedirect(event.data)
  }
</script>
{% endblock %}
