{% extends "base.html" %}
{% block contents %}

<div class="blob">

  click the link emailed to

  <div class="usertext" >
    <u>{{email}}</u>
  </div>

  then return to this tab.
</div>

<script>
  // Listen for the signature over a websocket

  const wsURL = new URL('auth_socket', window.location.origin)
  if (wsURL.protocol == 'https:') {
    wsURL.protocol = 'wss:'
  } else {
    wsURL.protocol = 'ws:'
  }
  wsURL.searchParams.set('signature_hash', '{{signature_hash}}')

  function onmessage(event) {
    const data = JSON.parse(event.data)
    if (data.type == 'Signature') {
      let redirect = new URL('{{redirect_uri}}')
      redirect.searchParams.set('state', '{{state}}')
      redirect.searchParams.set('code', '{{code_body}}' + '.' + data.signature)
      window.location.replace(redirect)
    }
  }

  async function reconnect() {
    while (true) {
      try {
        connect()
        break
      } catch(error) {
        await new Promise(r => setTimeout(r, 100));
      }
    }
  }

  function connect() {
    let ws = new WebSocket(wsURL)
    ws.onmessage = onmessage
    ws.onerror = reconnect
    ws.onclose = reconnect
  }

  connect()
</script>

{% endblock %}
