{% extends "base.html" %}
{% block contents %}

<div class="blob">
  {% if not email %}

  an application hosted at

  <div class="usertext" >
    <a href="{{client}}">{{client}}</a>
  </div>

  is requesting access to your graffiti.

  {% else %}

  error: could not send an email to

  <div class="usertext" >
    <u>{{email}}</u>
  </div>

  try again.

  {% endif %}
  
</div>

<hr>

<div id="form" class="blob dimmed">
  <form onsubmit="enterEmail(event)">
    <input type="submit" value="log in via email" autofocus />
  </form>
</div>

<template id="enterEmail">
  <form onsubmit="emailLogInCode(event)" >
    <input type="text" id="email" placeholder="name@example.com" autocomplete="off" />
    <input type="submit" value="send" />
  </form>
</template>

<script>
  function enterEmail(e) {
    e.preventDefault();
    const tmp = document.getElementById('enterEmail')
    const frm = document.getElementById('form')
    const clone = document.importNode(tmp.content, true)
    frm.replaceChildren(clone)
    document.getElementById('email').focus()
  }

  function emailLogInCode(e) {
    e.preventDefault();
    const email = document.getElementById('email').value
    const params = new URLSearchParams({
      client: '{{client}}',
      client_id: '{{client_id}}',
      redirect_uri: '{{redirect_uri}}',
      state: '{{state}}',
      email: email,
      origin: window.location.origin
    })
    window.location.replace(`email?${params.toString()}`)
  }
</script>
{% endblock %}
