<!DOCTYPE html>
<html>

<head>
  <title>Feed 1</title>
  <link rel="stylesheet" type="text/css" href="../demo1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div id="app">

    <div class="noteEntry">
      <textarea v-model="myNote" placeholder="What's happening?"></textarea>
      <button class="postButton" v-on:click="postMyNote">Post</button>
    </div>

    <template v-for="action in actions">
      <div class="note" v-if="action.type == 'Create' && action.object.type == 'Note'">
        <div class="noteAuthor"> {{ action.actor.name }} </div>
        {{ action.object.content }}
      </div>
      <div class="note" v-else>
        <i>{{ action.summary }}</i>
      </div>
    </template>

  </div>

  <script type="module" src="feed1.js"></script>

</body>
</html>
