{% extends "base.html" %}
{% block content %}
To authorize you need to be logged in.

Enter the log in code sent to

<div class="userCode">{{email}}</div>

<input type="text" id="code" />

<input type="button" value="Log In and Authorize" onclick="logIn()" />

<script>
  function logIn() {
    const signature_32_secret = document.getElementById('code').value
    let redirect = new URL('{{redirect_uri}}')
    redirect.searchParams.set('state', '{{state}}')
    redirect.searchParams.set('code', '{{code_body}}' + '~' + signature_32_secret + '{{signature_32_known}}')
    window.location.replace(redirect)
  }
</script>
{% endblock %}
