{% extends "base.html" %}

{% block prompt %}
enter the code emailed to

<div class="usertext" >
  {{email}}
</div>

to log in.
{% endblock %}

{% block form %}
<form style="display:flex;" onsubmit="logIn(event)" />
  <input type="text" style="text-transform: uppercase;" id="code" placeholder="ABC123" autocomplete="off" autofocus/>
  <input type="submit" value="submit code" />
</form>

<script>
  function logIn(e) {
    e.preventDefault()
    const signature_32_secret = document.getElementById('code').value
    let redirect = new URL('{{redirect_uri}}')
    redirect.searchParams.set('state', '{{state}}')
    redirect.searchParams.set('code', '{{code_body}}' + '~' + signature_32_secret + '{{signature_32_known}}')
    window.location.replace(redirect)
  }
</script>
{% endblock %}
