{% extends "base.html" %}
{% block content %}
To authorize you need to be logged in.
Enter your email to be sent a log in code.

<input type="text" id="email" placeholder="user@example.com" />

<input type="checkbox" id="remember" />
<label for="remember">Remember me?</label>

<input type="button" value="Email Log In Code" onclick="emailLogInCode()" />

{% if email %}
<div class="error">
  Error: Could not send an email to <code>{{email}}</code>.
</div>
{% endif %}

<script>
  function emailLogInCode() {
    const email = document.getElementById('email').value
    const remember = document.getElementById('remember').checked
    const params = new URLSearchParams({
      client: '{{client}}',
      client_id: '{{client_id}}',
      redirect_uri: '{{redirect_uri}}',
      state: '{{state}}',
      remember: remember,
      email: email
    })
    window.location.replace(`email?${params.toString()}`)
  }
</script>
{% endblock %}
