{% extends "base.html" %}

{% block prompt %}
{% if not email %}

the application

<div class="usertext" >
  <a href="{{client}}">{{client}}</a>
</div>

is requesting access to your graffiti.

{% else %}

error: could not send an email to

<div class="usertext" >
  <u>{{email}}</u>
</div>

{% endif %}
{% endblock %}

{% block form %}

<div id="logIn" style="display:flex;justify-content:center;"/>
  <input type="button" value="log in via email" onclick="enterEmail()" autofocus />
</div>

<form id="enterEmail" style="display:none;" onsubmit="emailLogInCode(event)" />
  <input type="text" id="email" placeholder="name@example.com" autocomplete="off" />
  <input type="submit" style="float:right" value="send" />
</form>

<script>
  function enterEmail() {
    document.getElementById('logIn').style.display = 'none'
    document.getElementById('enterEmail').style.display = 'flex'
    document.getElementById('email').focus()
  }

  function emailLogInCode(e) {
    e.preventDefault();
    const email = document.getElementById('email').value
    const params = new URLSearchParams({
      client: '{{client}}',
      client_id: '{{client_id}}',
      redirect_uri: '{{redirect_uri}}',
      state: '{{state}}',
      email: email
    })
    window.location.replace(`email?${params.toString()}`)
  }
</script>
{% endblock %}
